/* ======================================== Wishlist Page ====================================== */
.heading-container {
    margin-top: 1rem;
    background-color: #B2B2B2;
    padding: 2rem;
    text-align: center;
    color: #fff;
    
  }
  .heading-supplementry{
    font-weight: 300;
  }
  